<template>
    <div>
        <template v-if="!$route.meta.public">
            <v-app id="inspire" class="app">
                <app-drawer class="app--drawer"></app-drawer>
                <app-toolbar class="app--toolbar"></app-toolbar>
                <v-content>
                    <div class="page-wrapper px-4 pt-4">
                        <router-view></router-view>
                    </div>
                </v-content>
                <!-- Go to top -->
                <app-fab></app-fab>
                <v-navigation-drawer
                        class="setting-drawer"
                        temporary
                        right
                        v-model="rightDrawer"
                        hide-overlay
                        fixed
                >
                    <theme-settings></theme-settings>
                </v-navigation-drawer>
            </v-app>
        </template>
    </div>
</template>

<script>
    import AppDrawer from '@/components/AppDrawer';
    import AppToolbar from '@/components/AppToolbar';
    import AppFab from '@/components/AppFab';
    import PageHeader from '@/components/PageHeader';
    import ThemeSettings from '@/components/ThemeSettings';

    export default {
        name: "CMS",
        components: {
            AppDrawer,
            AppToolbar,
            AppFab,
            PageHeader,
            ThemeSettings,
        },
        data: () => ({
            expanded: true,
            rightDrawer: false,
            snackbar: {
                show: false,
                text: '',
                color: '',
            }
        }),

    }
</script>

<style scoped>

</style>


<style>
    .footer_ningix {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }
</style>
