<template>
    <v-app id="login" class="primary">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4 lg4>
                        <v-card class="elevation-1 pa-3">
                            <v-card-text>
                                <div class="layout column align-center">
                                    <img src="/static/logo/logo.png" width="256" alt="Vue Material Admin">
                                    <h1 class="flex my-4 primary--text">Meshwary</h1>
                                </div>
                                <v-form>
                                    <v-text-field append-icon="person" name="login" label="Login" type="text"
                                                  v-model="model.email"></v-text-field>
                                    <v-text-field append-icon="lock" name="password" label="Password" id="password"
                                                  type="password" v-model="model.password"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions style="width: 30%;margin: auto">
                                <v-btn block color="primary" @click="login" :loading="loading">Login</v-btn>
                            </v-card-actions>
                            <h6 style="text-align: center">Powered By <b>Wasilni Team</b> &copy; {{ new
                                Date().getFullYear() }}</h6>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            model: {
                email: '',
                password: ''
            }
        }),
        methods: {
            login() {
                this.loading = true;
                axios.post('login', this.model)
                    .then(res => {
                        this.$store.commit('UPDATE_ACCESS_TOKEN', res.data.data.accessToken);
                        this.axios.defaults.headers.Authorization = 'Bearer ' + res.data.data.accessToken;
                        this.$router.push({path: '/map'});
                        this.loading = false;
                    })
                    .catch(err => {
                        this.$message({
                            message: 'Invalid Username or Password',
                            type: 'error'
                        });
                        this.loading = false;
                    });
            }
        }

    };
</script>
<style scoped lang="css">
    #login {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
</style>
