<template>
    <v-app id="login" class="primary">
        <v-content>
            <div id="mapid"></div>
        </v-content>
    </v-app>
</template>


<script>
    export default {
        data() {
            return {
                mymap: null,
                socket: null,
                markers: [],
            }
        },
        mounted() {
            let styles = 'min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;';
            this.mymap = L.map('mapid', {
                fullscreenControl: true,
                fullscreenControlOptions: {
                    position: 'topleft'
                }
            }).setView([33.5138073, 36.2765279], 12);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                id: 'mapbox.streets'
            }).addTo(this.mymap);
            this.socket = io(this.$store.state.socket_host, {
                query: "authorization=Bearer " + this.$store.state.accessToken
            });

            this.socket.on('location_updated', (data) => {
                let updated = false;
                this.markers.forEach((marker) => {
                    if (marker.id === data.id) {
                        updated = true;

                        marker.lat = data.lat;
                        marker.lng = data.lng;
                        marker.date = data.date;

                        this.mymap.removeLayer(marker.layer);

                        let icon = new L.Icon({
                            iconUrl: '/static/images/grey.png',
                            shadowUrl: '/static/images/marker-shadow.png', iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34],
                            shadowSize: [41, 41]
                        });

                        marker.layer = L.marker([marker.lat, marker.lng], {icon: icon});
                        this.mymap.addLayer(marker.layer);

                        let popup = `<b>Info</b>
                            <p>Driver Name: ` + marker.name + '</p>'
                            + '<p>Last Update: ' + marker.date + '</p>';

                        marker.layer.bindPopup(popup);//.openPopup();
                        marker.layer.on('mouseover', function (e) {
                            this.openPopup();
                        });
                        marker.layer.on('mouseout', function (e) {
                            this.closePopup();
                        });
                    }
                });

                if (!updated) {
                    let icon = new L.Icon({
                        iconUrl: '/static/images/grey.png',
                        shadowUrl: '/static/images/marker-shadow.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                        shadowSize: [41, 41]
                    });

                    let marker = L.marker([data.lat, data.lng], {icon: icon});
                    data.layer = marker;

                    this.mymap.addLayer(marker);

                    let popup = `<b>Info</b>
                        <p>Driver Name: ` + data.name + '</p>'
                        + '<p>Last Update: ' + data.date + '</p>';

                    marker.bindPopup(popup);//.openPopup();
                    this.markers.push(data);
                }
            });
        }
    };
</script>

<style scoped>
    #mapid {
        height: 100%;
        width: auto;
    }
</style>
