<template>
    <v-app id="login" class="primary">
        <v-content style="background-color: white !important;">
            <v-select
                    style="z-index: 100000000"
                    label="Select Line"
                    v-model="model"
                    autocomplete
                    chips
                    :search-input.sync="search"
                    item-text="name"
                    item-value="_id"
                    :loading="isLoading"
                    :items="items"
            ></v-select>
            <div id="mapid2" style="z-index: 9000 !important;"></div>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "PathDrawer",
        data() {
            return {
                id: null,
                loading: false,
                mymap: null,
                markers: [],
                circles: [],
                polyline: null,
                model: null,
                items: [],
                isLoading: false,
                search: null
            };
        },
        watch: {
            search(val) {
                this.isLoading = true;
                this.axios.get(`line?paginate=100`)
                    .then(res => {
                        this.items = res.data.data.data;
                    })
                    .catch(err => console.log(err.message))
                    .finally(() => this.isLoading = false);
            },
            model(val) {
                this.axios.get(`line/${val}`)
                    .then(res => {
                        this.update_line(res.data.data.route);
                        console.log(res.data.data.route);
                    })
                    .catch(err => console.log(err.message))
                    .finally(() => this.isLoading = false);
            }
        },
        async mounted() {
            this.mymap = L.map('mapid2', {
                editable: true,
                fullscreenControl: true,
                fullscreenControlOptions: {
                    position: 'topleft'
                }
            }).setView([33.5138073, 36.2765279], 12);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                id: 'mapbox.streets'
            }).addTo(this.mymap);
        },
        methods: {
            add_marker(lat, lng, date, color = 'green') {
                var icon = new L.Icon({
                    iconUrl: '/static/images/' + color + '.png',
                    shadowUrl: '/static/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });
                var marker = L.marker([lat, lng], {icon: icon});
                this.mymap.addLayer(marker);
                marker.bindPopup(date);//.openPopup();
                marker.on('mouseover', function (e) {
                    this.openPopup();
                });
                marker.on('mouseout', function (e) {
                    this.closePopup();
                });
                this.markers.push(marker);
            },
            update_line(routes) {

                if (this.polyline) {
                    this.mymap.removeLayer(this.polyline);
                    this.polyline = null;
                }
                this.markers.forEach(elem => this.mymap.removeLayer(elem));
                this.circles.forEach(elem => this.mymap.removeLayer(elem));
                this.markers = [];
                this.circles = [];

                var arr = routes;

                if (arr.length < 2) {
                    return;
                }

                this.add_marker(arr[0].lat, arr[0].lng, arr[0].date, 'red');
                this.add_marker(arr[arr.length - 1].lat, arr[arr.length - 1].lng, arr[arr.length - 1].date);

                for (let i = 0; i < arr.length;) {
                    let c = L.circleMarker([arr[i].lat, arr[i].lng], {radius: 8});
                    this.mymap.addLayer(c);
                    c.bindPopup(arr[i].date);//.openPopup();
                    c.on('mouseover', function (e) {
                        this.openPopup();
                    });
                    c.on('mouseout', function (e) {
                        this.closePopup();
                    });
                    this.circles.push(c);
                    i += 5;
                }

                var latlngs = [];
                arr.forEach(elem => {
                    latlngs.push([elem.lat, elem.lng]);
                });

                this.polyline = L.polyline(latlngs, {color: 'red', opacity: 0.5}).addTo(this.mymap);
                this.mymap.fitBounds(this.polyline.getBounds());
                this.polyline.enableEdit();
            },
        }
    }
</script>

<style scoped>
    #mapid2 {
        height: 92%;
        width: auto;
    }
</style>