<template>
    <v-navigation-drawer
            id="appDrawer"
            :mini-variant.sync="mini"
            fixed
            :right="false"
            :dark="true"
            app
            v-model="drawer"
            width="260"
    >
        <v-toolbar color="primary darken-1" dark>
            <img v-bind:src="computeLogo" height="12" alt="logo">
            <v-toolbar-title class="ml-0 pl-4">
                <span class="hidden-sm-and-down">Meshwary</span>
            </v-toolbar-title>
        </v-toolbar>
        <vue-perfect-scrollbar class="drawer-menu--scroll" :settings="scrollSettings">
            <v-list dense expand>
                <template v-for="(item, i) in menus">
                    <!--group with subitems-->
                    <v-subheader v-if="item.header && (item.permission === 'all' || $store.state.user.permission == 1)" :key="i">{{ item.header }}</v-subheader>
                    <v-divider v-else-if="item.divider && (item.permission === 'all' || $store.state.user.permission == 1)" :key="i"></v-divider>
                    <!--top-level link-->
                    <v-list-tile v-else-if="(item.permission === 'all' || $store.state.user.permission == 1)" :to="!item.href ? { name: item.name } : item.href" ripple="ripple" :disabled="item.disabled" :target="item.target" rel="noopener" :key="item.name">
                        <v-list-tile-action v-if="item.icon">
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.translate === true ? $t(item.title) : item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                        <!-- <v-circle class="white--text pa-0 chip--x-small" v-if="item.badge" :color="item.color || 'primary'" disabled="disabled">{{ item.badge }}</v-circle> -->
                        <v-list-tile-action v-if="item.subAction">
                            <v-icon class="success--text">{{ item.subAction }}</v-icon>
                        </v-list-tile-action>
                        <!-- <v-circle class="caption blue lighten-2 white--text mx-0" v-else-if="item.chip" label="label" small="small">{{ item.chip }}</v-circle> -->
                    </v-list-tile>
                </template>
            </v-list>
        </vue-perfect-scrollbar>
    </v-navigation-drawer>
</template>
<script>
    import menu from '@/api/menu';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
    export default {
        name: 'app-drawer',
        components: {
            VuePerfectScrollbar,
        },
        props: {
            expanded: {
                type: Boolean,
                default: true
            },
        },
        data: () => ({
            mini: false,
            drawer: true,
            menus: menu,
            scrollSettings: {
                maxScrollbarLength: 160
            }
        }),
        computed: {
            computeGroupActive () {
                return true;
            },
            computeLogo () {
                return '/static/logo/logo.png';
            },
            sideToolbarColor () {
                return this.$vuetify.options.extra.sideNav;
            }
        },
        created () {
            window.getApp.$on('APP_DRAWER_TOGGLED', () => {
                this.drawer = (!this.drawer);
            });
        },

        methods: {
            genChildTarget (item, subItem) {
                if (subItem.href) return;
                if (subItem.component) {
                    return {
                        name: subItem.component,
                    };
                }
                return { name: `${item.group}/${(subItem.name)}` };
            },
        }
    };
</script>


<style lang="stylus">
    // @import '../../node_modules/vuetify/src/stylus/settings/_elevations.styl';
    #appDrawer
        overflow: hidden
        .drawer-menu--scroll
            height: calc(100vh - 48px)
            overflow: auto
</style>