<template>
    <v-toolbar
            color="primary"
            fixed
            dark
            app
    >
        <v-toolbar-title class="ml-0 pl-3">
            <v-toolbar-side-icon @click.stop="handleDrawerToggle"></v-toolbar-side-icon>
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <v-btn icon @click="handleFullScreen()">
            <v-icon>fullscreen</v-icon>
        </v-btn>
        <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">
            <v-btn icon large flat slot="activator">
                <v-avatar size="30px" @click="logout">
                    <v-icon>{{ 'power_settings_new' }}</v-icon>
                </v-avatar>
            </v-btn>

        </v-menu>
    </v-toolbar>
</template>
<script>
    import Util from '@/util';

    export default {
        name: 'app-toolbar',
        computed: {
            toolbarColor() {
                return this.$vuetify.options.extra.mainNav;
            }
        },
        data() {
            return {
                language: ''
            }
        },
        mounted() {
            this.language = this.$store.state.language;
        },
        methods: {
            handleDrawerToggle() {
                window.getApp.$emit('APP_DRAWER_TOGGLED');
            },
            handleFullScreen() {
                Util.toggleFullScreen();
            },
            changeLanguage() {
                if (this.language === 'en') {
                    this.language = 'ch';
                } else {
                    this.language = 'en';
                }
                this.$locale(this.language);
                this.$store.commit('UPDATE_LANGUAGE', this.language);
            },
            logout() {
                this.$confirm(`Are you Sure you want to logout?`, 'Warning', {
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$store.commit('LOGOUT');
                    setTimeout(() => {
                        location.reload();
                        this.$notify({
                            type: 'success',
                            message: 'Successful Logout'
                        });
                    }, 100);

                }).catch(() => {
                    this.$notify({
                        type: 'info',
                        message: this.$t('canceled')
                    });
                });
            }
        }
    };
</script>
