<template>
    <div id="appRoot">
        <template>
            <transition>
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </transition>
        </template>
    </div>
</template>
<script>
    import AppEvents from './event';
    export default {
        created() {
            AppEvents.forEach(item => {
                this.$on(item.name, item.callback);
            });
            window.getApp = this;
        },
        // methods: {
        //     openThemeSettings() {
        //         this.$vuetify.goTo(0);
        //         this.rightDrawer = (!this.rightDrawer);
        //     }
        // },
    };
</script>


<style lang="stylus" scoped>
    .setting-fab
        top: 50% !important;
        right: 0;
        border-radius: 0

    .page-wrapper
        min-height: calc(100vh - 64px - 50px - 81px);
</style>
